<main class="countdown">
  <h1 class="countdown__title">We´re launching soon</h1>
  <section class="countdown__timer">
    <app-timer-box [value]="dia" texto="Days"></app-timer-box>
    <app-timer-box [value]="hora" texto="Hours"></app-timer-box>
    <app-timer-box [value]="min" texto="Minutes"></app-timer-box>
    <app-timer-box [value]="seg" texto="Seconds"></app-timer-box>
  </section>
  <section class="countdown__icons">
    <img width="30" height="30" ngSrc="icon-facebook.svg" alt="não" />
    <img width="30" height="30" ngSrc="icon-pinterest.svg" alt="não" />
    <img width="30" height="30" ngSrc="icon-instagram.svg" alt="não" />
  </section>
</main>

<router-outlet></router-outlet>
