@use "../../../sass" as *;

.timer {
  @include square(80px);
  position: relative;
  display: grid;
  align-items: center;
  aspect-ratio: 1/1;
  color: var(--clr-primary);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0.4rem 0 var(--clr-neutral-750);

  &::before,
  &::after {
    z-index: 2;
    top: 50%;
    position: absolute;
    content: "";
    @include square(7px);
    border-radius: 50%;
    background: var(--clr-neutral-750);
  }

  &::before {
    transform: translate(-50%, -50%);
    left: 0;
  }
  &::after {
    transform: translate(50%, -50%);
    right: 0;
  }

  &__flip {
    text-align: center;
    font-size: 2.2rem;
    border-radius: 4px;
    position: absolute;
    padding-top: 0.8rem;
    overflow: hidden;
  }
  &__text {
    text-align: center;
    margin-top: 0.5rem;
    color: var(--clr-secondary);
    font-weight: 500;
  }

  @include tablet {
    @include square(130px);

    &__flip {
      font-size: 4.5rem;
    }
    &::before,
    &::after {
      @include square(15px);
    }
  }

  @include laptop {
    @include square(150px);

    &__flip {
      font-size: 5rem;
    }
  }
}
.top,
#top-flip {
  border-bottom: 1px solid var(--clr-neutral-750);
  inset: 0 0 50%;
  background: var(--clr-neutral-700);
  rotate: 0deg;
}
.bottom,
#bottom-flip {
  inset: 0;
  z-index: -1;
  background: var(--clr-neutral-600);
}

#top-flip {
  transform-origin: bottom;
  animation: flip-top 0.5s linear;
}

#bottom-flip {
  transform: rotateX(90deg);
  transform-origin: center;
  position: absolute;
  animation: flip-bottom 0.5s linear 0.5s;
}

@keyframes flip-top {
  to {
    transform: rotateX(90deg);
  }
}

@keyframes flip-bottom {
  to {
    transform: rotateX(0deg);
  }
}
